<% if Profile.find(params[:id]).id == current_user.profile.user_id %>
  <% myprofile = true %>
<% else  %>
  <% myprofile = false  %>
<% end  %>



    <!--============================= SUBPAGE HEADER BG =============================-->
    <section class="subpage-bg">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="titile-block title-block_subpage">
                        <h2>Your Personal Dashboard</h2>
                        <p> <a href="/"> Home</a> / Profile </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SUBPAGE HEADER BG -->
    <!--============================= BOOKING DETAILS =============================-->
    <section class="gray-dark booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="row">
                        <% @ideas.each do |idea| %>
                        <% sum = 0  %>
                        <% avg = 0  %>
                          <% if idea.reviews != 0  %>
                            <% idea.reviews.each do |review| %>
                              <% sum = sum + review.rating %>
                              <% avg = sum.to_f / idea.reviews.count %>
                              <% avg %>
                            <% end  %>
                          <% end  %>
                          <div class="col-md-6 card-2">
                              <!-- card-1 -->
                              <div class="card">
                                  <a href="detail.html"><img class="card-img-top" src="/assets/listing-thumb-3.jpg" alt="Card image cap"></a>
                                  <div class="card-body">
                                      <h5><%= link_to idea.title, idea_path(idea), class: 'card-title', style: "color: #3e434b; text-decoration: none" %></h5>
                                      <ul class="card-rating">
                                          <li><%= avg.round(1) %></li>
                                          <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                                          <li><%= idea.reviews.count %> ratings</li>
                                      </ul>
                                      <p class="card-text"> <%= truncate(idea.business_case, length: 100)%> </p>
                                  </div>
                                  <div class="card-bottom">
                                      <p><i></i><%= Profile.find(idea.profile_id).first_name %> <%= Profile.find(idea.profile_id).last_name %></p>
                                      <span>business line</span>
                                  </div>
                              </div>
                          </div>
                        <% end  %>
                    </div>
                </div>
                <div class="col-md-4 responsive-wrap">
                    <div class="follow" style="margin-bottom: 15px; padding-bottom: 1px;">
                        <div class="follow-img">
                            <img src="/assets/follow-img.jpg" class="img-fluid" alt="#">
                            <h6><%= @profile.first_name %> <%= @profile.last_name %> </h6>
                            <span><%= @profile.user.email %></span>
                        </div>
                        <ul class="d-flex">
                            <li class=" flex-fill">
                                <h6><%= Idea.all.where(profile_id: Profile.find(params[:id]).id).count %></h6>
                                <span>ideas</span>
                            </li>
                            <li class=" flex-fill">
                                <h6><%= Review.all.where(profile_id: Profile.find(params[:id]).id).count %></h6>
                                <span>reviews</span>
                            </li>
                        </ul>
                        <% if myprofile  %>
                          <p><%= link_to 'EDIT MY PROFILE', edit_profile_path(@profile), class: 'btn btn-outline-danger btn-contact'%></p>
                        <% else  %>
                          <p><%= link_to 'SEND A MESSAGE', edit_profile_path(@profile), class: 'btn btn-outline-danger btn-contact'%></p>
                        <% end  %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END BOOKING DETAILS -->
