<% profile = Profile.find(@idea.profile_id) %>



    <!--============================= BLOG DETAIL =============================-->
    <section class="main-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="full-blog">
                        <figure class="img-holder">
                            <a href="#"><img src="/assets/blog-detail-img.jpg" class="img-fluid" alt="#"></a>
                            <div class="blog-post-date">
                                <%= @idea.created_at.strftime('%b %d, %Y') %>
                            </div>
                        </figure>
                        <div class="blog-content">
                            <p class="text-muted">By: <%= link_to "#{profile.first_name} #{profile.last_name}", profile_path(profile)%> / 4 Comments</p>
                            <div class="blog-text">
                                <h5> <%= @idea.title %> </h5>
                                <h6>Business Case</h6>
                                <p style="font-weight: 200;"><%= @idea.business_case %></p>
                                <h6>Value Proposition</h6>
                                <p style="font-weight: 200;"><%= @idea.value_prop %></p>
                                <h6>Targeted Markets</h6>
                                <p style="font-weight: 200;"><%= @idea.target_market %></p>
                                <h6>Pain Points</h6>
                                <p style="font-weight: 200;"><%= @idea.problem %></p>
                                <h6>Solution</h6>
                                <p style="font-weight: 200;"><%= @idea.solution %></p>
                                <h6>Revenue Generation</h6>
                                <p style="font-weight: 200;"><%= @idea.revenue %></p>

                            </div>
                        </div>



                        <div class="booking-checkbox_wrap booking-your-review">
                          <h5>Write a Review</h5>
                          <hr>
                          <div class="customer-review_wrap">
                              <div class="customer-img">
                                  <img src="/assets/avatar.jpg" class="img-fluid" alt="#">
                              </div>
                              <%= simple_form_for [@idea, @review] do |f| %> <!-- </form> -->
                                  <div class="customer-content-wrap">
                                      <div class="your-comment-wrap" style= "margin-top: 15px;">
                                        <%= f.input :title , label: false, class: "form-control comment-text", placeholder: "Enter Your Title" %>
                                      </div>
                                      <div class="your-comment-wrap" style= "margin-top: 15px;">
                                        <%= f.input :rating , input_html: { min: '0', max: '5', step: '1' }, label: false, class: "form-control comment-text", placeholder: "Enter Your Rating - from 1 to 5" %>
                                      </div>
                                      <div class="your-comment-wrap" style= "margin-top: 15px;">
                                        <%= f.input :content , label: false, class: "your-rating-content", placeholder: "Enter Your Comments" %>
                                        <h6 class="your-rating-notify">at least 140 characters</h6>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4 mr-auto">
                                              <div class="add-photos-link mb-3 mb-md-0">
                                                  <a href="#"><i class="icon-picture"></i>Add Photos</a>
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="your-rating-btn">
                                                <%= f.button :submit, "Publish Review", class: "btn btn-danger btn-block"%>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              <% end  %>
                        </div>
                    </div>

                    <% @reviews = @idea.reviews%>

                    <div class="booking-checkbox_wrap my-4">
                        <h4><%= @reviews.count %> Reviews </h4>
                        <hr>
                              <% if @reviews %>
                                  <% @reviews.each do |review| %>
                                    <div class="customer-review_wrap">
                                        <div class="customer-img">
                                            <img src="/assets/customer-img1.jpg" class="img-fluid" alt="#">
                                            <p><%= link_to "#{Profile.find(review.profile_id).first_name} #{Profile.find(review.profile_id).last_name}", profile_path(Profile.find(review.profile_id)), style: "color: #3e434b; text-decoration: none"%></p>
                                            <span><%= Review.all.where(profile_id: review.profile_id).count %> Reviews</span>
                                        </div>
                                        <div class="customer-content-wrap">
                                            <div class="customer-content">
                                                <div class="customer-review">
                                                    <h5><%= review.title %></h5>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span class="round-icon-blank"></span>
                                                    <p>Reviewed 2 days ago</p>
                                                </div>
                                                <div class="customer-rating"><%= '%.1f' % review.rating %></div>
                                            </div>
                                            <p class="customer-text"> <%= review.content %> </p>
                                        </div>
                                    </div>
                                    <hr>
                                  <% end  %>
                              <% end  %>
                    </div>
                </div>
            </div>



<!-- ####################   sidepart   #################### -->
                <div class="col-md-4 responsive-wrap">
                    <div class="sidebar">
                        <div class="widget-box">
                            <h4>Latest Ideas</h4>
                            <% Idea.all.last(3).each do |idea| %>
                              <div class="latest-blog">
                                  <a href="">
                                      <img src="/assets/blog-thumb-1.jpg" alt="#">
                                      <div class="blog-thumb-content">
                                          <p><strong><%= truncate(idea.title, length: 75) %></strong></p>
                                          <p><%= link_to "By #{Profile.find(idea.profile_id).first_name} #{Profile.find(idea.profile_id).last_name}", profile_path(Profile.find(idea.profile_id)), style: "text-decoration: none; color: #adadad"%></p>
                                          <p> <%= idea.created_at.strftime('%b %d, %Y') %> | Business Line </p>
                                      </div>
                                  </a>
                              </div>
                            <% end  %>
                        </div>
                        <div class="widget-box">
                            <h4>Categories</h4>
                            <div class="categories">
                                <a href="#">Retail Banking<span class="ti-angle-right"></span></a>
                                <a href="#">Private Banking<span class="ti-angle-right"></span></a>
                                <a href="#">Compliance<span class="ti-angle-right"></span></a>
                                <a href="#">Legal<span class="ti-angle-right"></span></a>
                                <a href="#">Finance<span class="ti-angle-right"></span></a>
                                <a href="#">Market<span class="ti-angle-right"></span></a>
                                <a href="#">Product<span class="ti-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
<!-- ####################   sidepart   #################### -->
            </div>
        </div>
    </section>
    <!--//END BLOG DETAIL -->
